PORT=5000
NODE_ENV=development

MONGODB_URL=mongodb://127.0.0.1:27017/nfc_fare_collection
CORS_ORIGIN=http://localhost:3000
API_BASE_URL=https://major-project-backend-6jvr.onrender.com

ACCESS_TOKEN_SECRET=your_access_token_secret
REFRESH_TOKEN_SECRET=your_refresh_token_secret
ADMIN_EMAIL=admin@example.com

KHALTI_SECRET_KEY=your_khalti_secret_key
KHALTI_BASE_URL=https://a.khalti.com/api/v2/
KHALTI_RETURN_URL=https://major-project-backend-6jvr.onrender.com/api/v1/users/payment/khalti/callback
WEBSITE_URL=http://localhost:3000

ESP32_GPS_API_KEY=your_optional_device_key
